<div class="row" data-controller="map">
  <div class="col-12 col-xl-4 d-flex flex-column height-90vh">
    <%= render 'scheduled_events' %>
    <%= render 'resource_requests' %>
  </div>
  <div class="col-12 col-xl-8 d-flex flex-column ">
    <%- @events&.each do |event| %>
      <div data-map-target="marker" data-id="<%= event.id %>" data-lat="<%= event.latitude %>" data-lng="<%= event.longitude %>" data-title="<%= event.name %>" data-icon="<%= event.incident? ? 'icon_incident.svg' : 'icon_event.svg' %>" data-url="<%= event_path(event) %>"></div>
    <% end %>
    <%- @organizations&.each do |org| %>
      <div data-map-target="marker" data-lat="<%= org.latitude %>" data-lng="<%= org.longitude %>" data-title="<%= org.name %>" data-icon="<%= org.custom_icon || 'icon1.svg' %>" data-url="<%= organization_path(org) %>"></div>
    <% end %>
    <div class="d-flex align-items-center">
      <%= form_tag(dashboard_index_path, method: :get, class: 'd-flex me-auto') do %>
        <div class="form-check form-switch">
          <label class="form-check-label m-0" for="show_organizations">Mostrar organizaciones</label>
          <%= check_box_tag 'show_organizations', '1', @show_organizations, class:'form-check-input', onchange: 'this.form.submit();' %>
        </div>
      <% end %>

      <%= link_to "Programar Evento", new_event_path(kind: Event.kind.event), class: 'btn btn-outline-primary mt-2 mx-2 animate-up-2' %>
      <%= link_to "Crear Incidente", new_event_path, class: 'btn btn-gray-800 mt-2 animate-up-2' %>
    </div>

    <div data-map-target="map" class="height-80vh mt-2"></div>
  </div>
</div>