<%= form_with( model: [@event, @victim]) do |form| %>
  <% if @victim.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @victim.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="form-floating mb-3 col-12 col-lg-9">
      <%= form.text_field :name, class:'form-control', required:'true', placeholder:'Nombre' %>
      <label for="name">Nombre</label>
    </div>
  </div>

  <div class="actions text-end">
    <%= form.submit "Guardar", class: "btn btn-gray-800 mt-2 animate-up-2" %>
    <%= link_to 'Cancelar', event_path(@event), class: 'link-secondary ms-3'%>
  </div>
<% end %>