<%= turbo_frame_tag resource_request do %>
  <div class="accordion-item">
    <h2 class="accordion-header" id="request-heading-<%= resource_request.id %>">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#request-collapse-<%= resource_request.id %>" aria-expanded="<%= resource_request.active? %>" aria-controls="collapseOne">
        <div class="d-flex w-100">
          <span>
            <b>Solicitud #<%= resource_request.created_at.strftime('%s') %></b>
            <span class="mx-2 my-0 badge rounded-pill <%= resource_request_status_class(resource_request) %>"><%= resource_request.status.text %></span>
          </span>
          <small class="ms-auto me-2">Fecha: <%= resource_request.created_at.strftime('%d-%m-%Y %H:%M') %></small>
        </div>
      </button>
    </h2>
    <div id="request-collapse-<%= resource_request.id %>" class="accordion-collapse collapse <%= 'show' if resource_request.active? %>" aria-labelledby="request-heading-<%= resource_request.id %>" data-bs-parent="#resourceRequestAccordion">
      <div class="accordion-body">
        <%= render resource_request.resource_request_items %>
      </div>
    </div>
  </div>
<% end %>