<%= turbo_frame_tag resource_request do %>
  <%- dashboard = current_page?(root_path) %>
  <%- expanded =  resource_request.active? && !dashboard %>
  <div class="accordion-item">
    <h2 class="accordion-header" id="request-heading-<%= resource_request.id %>">
      <button class="accordion-button <%= 'collapsed' unless expanded %>" type="button" data-bs-toggle="collapse" data-bs-target="#request-collapse-<%= resource_request.id %>" aria-expanded="<%= expanded %>" aria-controls="collapseOne">
        <%= render 'resource_requests/resource_request_header', dashboard: dashboard, resource_request: resource_request %>
      </button>
    </h2>
    <div id="request-collapse-<%= resource_request.id %>" class="accordion-collapse collapse <%= 'show' if expanded %>" aria-labelledby="request-heading-<%= resource_request.id %>" data-bs-parent="#resourceRequestAccordion">
      <div class="accordion-body">
        <%= render resource_request.resource_request_items %>
        <div class="d-flex justify-content-end mt-2">
          <%= button_to 'Cancelar', [resource_request.event, resource_request, :cancel],
                        method: :get,
                        form: { data: { turbo_confirm: "Estas seguro de cancelar esta solicitud?" } },
                        class: 'btn btn-outline-danger' if resource_request.cancelable?(current_user) %>
          <%= button_to 'Asistir', [:new, resource_request, :assist_request],
                        method: :get,
                        data: { turbo_frame: 'remote_modal' },
                        class: 'btn btn-primary ms-2' if resource_request.active? && resource_request.user_can_assist?(current_user) %>
        </div>
      </div>
    </div>
  </div>
<% end %>