<%= turbo_frame_tag resource_request do %>
  <%- expanded =  resource_request.active? && !dashboard %>
  <div class="accordion-item">
    <h2 class="accordion-header" id="request-heading-<%= resource_request.id %>">
      <button class="accordion-button <%= 'collapsed' unless expanded %>" type="button" data-bs-toggle="collapse" data-bs-target="#request-collapse-<%= resource_request.id %>" aria-expanded="<%= expanded %>" aria-controls="collapseOne">
        <%= render 'resource_requests/resource_request_header', dashboard: dashboard, resource_request: resource_request %>
      </button>
    </h2>
    <div id="request-collapse-<%= resource_request.id %>" class="accordion-collapse collapse <%= 'show' if expanded %>" aria-labelledby="request-heading-<%= resource_request.id %>" data-bs-parent="#resourceRequestAccordion">
      <div class="accordion-body">
        <%= render resource_request.resource_request_items %>
        <div class="d-flex justify-content-end mt-2">
          <button class="btn btn-outline-danger" type="button">Cancelar</button>
          <button class="btn btn-primary ms-2" type="button">Asistir</button>
        </div>
      </div>
    </div>
  </div>
<% end %>