<%= f.fields_for :user do |form| %>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group mb-4">
        <label for="email">Nombre</label>
        <%= form.text_field :first_name, id: "first_name", autofocus: true, required: true, class: "form-control" %>
      </div>
      <div class="form-group mb-4">
        <label for="email">Apellido</label>
        <%= form.text_field :last_name, id: "last_name", required: true, class: "form-control" %>
      </div>
      <div class="form-group mb-4">
        <label for="email">Email</label>
        <%= form.email_field :email, id: "email", required: true, class: "form-control", placeholder: "example@company.com", readonly:true if @user_permission.persisted? %>
        <%= form.email_field :email, id: "email", required: true, class: "form-control", placeholder: "example@company.com" unless @user_permission.persisted? %>
      </div>
      <div class="form-group mb-4">
        <label for="email">C&eacute;dula de Identidad</label>
        <%= form.text_field :ci, id: "ci", required: true, class: "form-control" %>
      </div>
      <div class="form-group mb-4">
        <label for="email">Fecha de nacimiento</label>
        <div class="input-group">
      <span class="input-group-text">
          <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
      </span>
          <%= form.date_field :birthday, id: "birthday", required: true, class: "form-control", placeholder:"dd/mm/yyyy" %>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group mb-4">
        <label for="email">Tel&eacute;fono</label>
        <%= form.text_field :phone, id: "phone", class: "form-control" %>
      </div>
      <div class="form-group mb-4">
        <label for="email">Direcci&oacute;n</label>
        <%= form.text_field :address, id: "address", required: true, class: "form-control" %>
      </div>
      <div class="form-group mb-4">
        <label for="email">Direcci&oacute;n complementaria</label>
        <%= form.text_field :address_two, id: "address_two", class: "form-control" %>
      </div>
      <div class="form-group mb-4">
        <label for="email">Ciudad</label>
        <%= form.text_field :city, id: "city", required: true, class: "form-control" %>
      </div>
    </div>
  </div>
<% end %>
