<%= simple_form_for @user do |f| %>
  <div class="row">
    <div class="col-lg-6">
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :ci %>
      <div class="form-group">
        <label>Fecha de nacimiento</label>
        <%= f.input_field :birthday,
                          as: :string,
                          class: 'form-control',
                          data: {
                            controller: 'flatpickr',
                            enable_time: 'true',
                            flatpickr_date_format: 'd-m-Y',
                            flatpickr_alt_input: false,
                            flatpickr_default_date: f.object&.birthday
                          } %>

      </div>
    </div>
    <div class="col-lg-6">
      <%= f.input :phone %>
      <%= f.input :address %>
      <%= f.input :address_two %>
      <%= f.input :city %>
    </div>
  </div>
  <div class="actions text-start">
    <%= f.button :submit, "Guardar", class: "btn btn-gray-800 mt-2 animate-up-2" %>
  </div>
<% end %>

