<section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
  <div class="container">
    <div class="text-center mb-5">
      <%= image_tag 'municipalidad/logo_encarnacion_reporte.png', alt: 'Logo municipalidad', width:'200' %>
    </div>
    <div class="row justify-content-center form-bg-image">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="bg-white shadow border-0 rounded border-light px-4 px-lg-5 pt-4 w-100 fmxw-500 ">
          <div class="text-center text-md-center mb-4 mt-md-0">
            <h1 class="mb-0 h3">Cambiar tu contraseña</h1>
          </div>

          <!-- Form change password -->
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {
            method: :put,
            id: "password-form",
            data: {
              controller: "password-validation",
              action: "submit->password-validation#validateForm"
            }
          }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <%= f.hidden_field :reset_password_token %>

            <!-- New Password Input -->
            <div class="form-group mb-4">
              <label for="password"><%= f.label :password, "Nueva contraseña" %></label>
              <div class="text-muted d-block mb-2" style="font-size: 12px !important;">
                <em style="font-size: 12px !important;">La contraseña debe cumplir los siguientes requisitos:</em>
                <ul class="ps-3 mt-1 mb-0" style="font-size: 12px !important;">
                  <li style="font-size: 12px !important;"><em>Mínimo 8 caracteres</em></li>
                  <li style="font-size: 12px !important;"><em>Al menos una letra mayúscula</em></li>
                  <li style="font-size: 12px !important;"><em>Al menos un número</em></li>
                  <li style="font-size: 12px !important;"><em>Al menos un caracter especial (@, #, $, etc.)</em></li>
                </ul>
              </div>
              <div class="input-group" data-controller="password-toggle">
                <span class="input-group-text" id="basic-addon2">
                  <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path></svg>
                </span>
                <%= f.password_field :password, id: "password",
                                     class: "form-control",
                                     placeholder: "Nueva contraseña",
                                     required: true,
                                     autofocus: true,
                                     autocomplete: "new-password",
                                     data: {
                                       password_validation_target: "password",
                                       action: "input->password-validation#validateForm blur->password-validation#validateForm",
                                       password_toggle_target: "input"
                                     } %>
                <button class="btn btn-outline-secondary password-toggle" type="button" data-action="click->password-toggle#toggle">
                  <svg class="icon icon-sm" data-password-toggle-target="showIcon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 12a2 2 0 100-4 2 2 0 000 4z"></path>
                    <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd"></path>
                  </svg>
                  <svg class="icon icon-sm d-none" data-password-toggle-target="hideIcon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3.707 2.293a1 1 0 00-1.414 1.414l14 14a1 1 0 001.414-1.414l-14-14zM3.055 10c1.148-2.81 3.989-5 7.099-5 1.713 0 3.308.522 4.628 1.423l-1.513 1.513a4.013 4.013 0 00-3.115-.936 4 4 0 00-3.45 5.14L5.1 13.69C3.84 12.694 3.033 11.427 3.055 10zm12.184 4.266l-2.067-2.066A4 4 0 0014 10c0-2.222-1.778-4-4-4-.478 0-.934.086-1.355.242L6.5 4.174C7.572 3.684 8.751 3.42 10 3.42c3.95 0 7.47 2.22 8.99 5.58-1.003 2.167-2.616 3.95-4.678 4.976l.927.42z" clip-rule="evenodd"></path>
                    <path d="M4 10.364a4 4 0 115.364-5.364L4 10.364z"></path>
                  </svg>
                </button>
              </div>
              <div id="password-feedback" class="invalid-feedback" data-password-validation-target="passwordFeedback"></div>
            </div>

            <!-- Confirm Password Input -->
            <div class="form-group mb-4">
              <label for="password_confirmation"><%= f.label :password_confirmation, "Confirmar nueva contraseña" %></label>
              <div class="input-group" data-controller="password-toggle">
                <span class="input-group-text" id="basic-addon3">
                  <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path></svg>
                </span>
                <%= f.password_field :password_confirmation, id: "password_confirmation",
                                     class: "form-control",
                                     placeholder: "Confirmar nueva contraseña",
                                     required: true,
                                     autocomplete: "new-password",
                                     data: {
                                       password_validation_target: "confirmation",
                                       action: "input->password-validation#validateForm blur->password-validation#validateForm",
                                       password_toggle_target: "input"
                                     } %>
                <button class="btn btn-outline-secondary password-toggle" type="button" data-action="click->password-toggle#toggle">
                  <svg class="icon icon-sm" data-password-toggle-target="showIcon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 12a2 2 0 100-4 2 2 0 000 4z"></path>
                    <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd"></path>
                  </svg>
                  <svg class="icon icon-sm d-none" data-password-toggle-target="hideIcon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3.707 2.293a1 1 0 00-1.414 1.414l14 14a1 1 0 001.414-1.414l-14-14zM3.055 10c1.148-2.81 3.989-5 7.099-5 1.713 0 3.308.522 4.628 1.423l-1.513 1.513a4.013 4.013 0 00-3.115-.936 4 4 0 00-3.45 5.14L5.1 13.69C3.84 12.694 3.033 11.427 3.055 10zm12.184 4.266l-2.067-2.066A4 4 0 0014 10c0-2.222-1.778-4-4-4-.478 0-.934.086-1.355.242L6.5 4.174C7.572 3.684 8.751 3.42 10 3.42c3.95 0 7.47 2.22 8.99 5.58-1.003 2.167-2.616 3.95-4.678 4.976l.927.42z" clip-rule="evenodd"></path>
                    <path d="M4 10.364a4 4 0 115.364-5.364L4 10.364z"></path>
                  </svg>
                </button>
              </div>
              <div id="confirmation-feedback" class="invalid-feedback" data-password-validation-target="confirmationFeedback"></div>
            </div>

            <!-- Buttons: Login and Change Password -->
            <div class="d-flex gap-2 mb-4">
              <%= link_to "Iniciar sesión", new_session_path(resource_name), class: "btn btn-secondary flex-grow-1" %>
              <%= f.submit "Cambiar mi contraseña", class: "btn btn-gray-800 flex-grow-1",
                           disabled: true,
                           data: { password_validation_target: "submitButton" } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>