<section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
  <div class="container">
    <div class="row justify-content-center form-bg-image">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500 ">
          <div class="text-center text-md-center mb-4 mt-md-0">
            <h1 class="mb-0 h3">¿Olvidaste tu contraseña?</h1>
          </div>

          <!-- Password recovery form -->
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="form-group mb-4">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "ejemplo@empresa.com" %>
            </div>

            <div class="d-grid mb-4">
              <%= f.submit "Envíame instrucciones para restablecer la contraseña", class: "btn btn-gray-800" %>
            </div>
          <% end %>

          <div class="text-center">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
