<%= simple_form_for @event, wrapper: :floating_labels_form do |f| %>
  <div class="row">
    <%= f.input :name,  wrapper_html: { class: 'mb-3 col-12 col-lg-6' } %>
    <div class="form-floating mb-3 col-12 col-lg-6">
      <%= f.input_field :event_start,
                        as: :string,
                        class: 'form-control',
                        data: {
                          controller: 'flatpickr',
                          enable_time: 'true',
                          flatpickr_date_format: 'd-m-Y H:i',
                          flatpickr_alt_input: false,
                          flatpickr_default_date: (f.object&.event_start || Time.zone.now).strftime("%d-%m-%Y %H:%M")
                        } %>
      <label>Fecha y hora del Incidente</label>
    </div>
    <%= f.input :location,  wrapper_html: { class: 'mb-3 col-12' } %>
  </div>
  <div class="actions text-end">
    <%= f.button :submit, "Guardar", class: "btn btn-gray-800 mt-2 animate-up-2" %>
    <%= link_to 'Cancelar', :back, class: 'link-secondary ms-3'%>
  </div>
<% end %>
