<%= simple_form_for @event, wrapper: :floating_labels_form, html: { multipart: true } do |f| %>
  <label class="text-gray-500">Evaluación  Inicial:</label>
  <div class="row">
    <%= f.input :event_nature, wrapper_html: { class: 'mb-3 col-12 col-md' }, input_html: { style: 'height:7rem' } %>
    <%= f.input :threats, wrapper_html: { class: 'mb-3 col-12 col-md' }, input_html: { style: 'height:7rem' } %>
    <%= f.input :affected_area, wrapper_html: { class: 'mb-3 col-12 col-md' }, input_html: { style: 'height:7rem' } %>
  </div>
  <div class="row">
    <%= f.input :objectives, wrapper_html: { class: 'mb-3 col-12 col-md' }, input_html: { style: 'height:10rem' } %>
    <%= f.input :strategy, wrapper_html: { class: 'mb-3 col-12 col-md' }, input_html: { style: 'height:10rem' } %>
    <%= f.input :tactics, wrapper_html: { class: 'mb-3 col-12 col-md' }, input_html: { style: 'height:10rem' } %>
  </div>
  <div class="row">
    <%= f.input :pc_location, wrapper_html: { class: 'mb-3 col-12 col-md' } %>
    <%= f.input :e_location, wrapper_html: { class: 'mb-3 col-12 col-md' } %>
  </div>
  <div class="row">
    <%= f.input :entry_route, wrapper_html: { class: 'mb-3 col-12 col-md' } %>
    <%= f.input :egress_route, wrapper_html: { class: 'mb-3 col-12 col-md' } %>
  </div>
  <div class="row">
    <%= f.input :security_message, wrapper_html: { class: 'mb-3 col-12' } %>
    <%= f.input :communication_channels, wrapper_html: { class: 'mb-3 col-12' } %>
  </div>
  <div class="row">
    <%= f.input :commander, wrapper_html: { class: 'mb-3 col-12' } %>
  </div>
  
  <div class="row">
    <%= f.input :sketchs, wrapper_html: { class: 'mb-3 col-12' }, as: :file, label_html: { class: 'd-block' }, input_html: { multiple: true, class: 'custom-file-input', accept: 'image/*', data: { controller: "file-validation", action: "file-validation#validate", file_validation_target: "input" }  } %>
    <ul class="list-unstyled d-flex flex-wrap">
      <% @event.sketchs.each do |file| %>
        <li class="me-3 mb-3 position-relative">
          <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal-<%= file.id %>">
            <% if file.representable? %>
              <%= image_tag file.representation(resize_to_limit: [100, 100]), class: 'img-thumbnail' %>
            <% else %>
              <span class="text-muted">Imagen no disponible</span>
            <% end %>
          </a>

          <div class="modal fade" id="imageModal-<%= file.id %>" tabindex="-1" aria-labelledby="imageModalLabel-<%= file.id %>" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="imageModalLabel-<%= file.id %>">Mapa Situacional o Croquis</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                  <% if file.representable? %>
                    <%= image_tag file.representation(resize_to_limit: [800, 800]), class: 'img-fluid' %>
                  <% else %>
                    <p class="text-muted">Imagen no disponible</p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <%= link_to destroy_sketch_event_path(@event, file), method: :delete, data: { confirm: '¿Estás seguro que deseas eliminar esta imagen?' }, class: 'position-absolute top-0 start-100 translate-middle p-1 bg-danger badge rounded-pill fs-6 text-white' do %>
            <i class="fas fa-times"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="row">
    <%= f.input :organization_charts, wrapper_html: { class: 'mb-3 col-12' }, as: :file, label_html: { class: 'd-block' }, input_html: { multiple: true, class: 'custom-file-input', accept: 'image/*', data: { controller: "file-validation", action: "file-validation#validate", file_validation_target: "input" }  } %>
    <ul class="list-unstyled d-flex flex-wrap">
      <% @event.organization_charts.each do |file| %>
        <li class="me-3 mb-3 position-relative">
          <a href="#" data-bs-toggle="modal" data-bs-target="#imageModalChart-<%= file.id %>">
            <% if file.representable? %>
              <%= image_tag file.representation(resize_to_limit: [100, 100]), class: 'img-thumbnail' %>
            <% else %>
              <span class="text-muted">Imagen no disponible</span>
            <% end %>
          </a>

          <div class="modal fade" id="imageModalChart-<%= file.id %>" tabindex="-1" aria-labelledby="imageModalChartLabel-<%= file.id %>" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="imageModalChartLabel-<%= file.id %>">Organigrama</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                  <% if file.representable? %>
                    <%= image_tag file.representation(resize_to_limit: [800, 800]), class: 'img-fluid' %>
                  <% else %>
                    <p class="text-muted">Imagen no disponible</p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <%= link_to destroy_organization_chart_event_path(@event, file), method: :delete, data: { confirm: '¿Estás seguro que deseas eliminar esta imagen?' }, class: 'position-absolute top-0 start-100 translate-middle p-1 bg-danger badge rounded-pill fs-6 text-white' do %>
            <i class="fas fa-times"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>


  <div class="actions text-end">
    <%= f.button :submit, "Guardar", class: "btn btn-gray-800 mt-2 animate-up-2" %>
    <%= link_to 'Cancelar', events_path, class: 'link-secondary ms-3'%>
  </div>
<% end %>