<div class="col-12 mb-4">
  <div class="card border-0 shadow components-section">
    <div class="card-header bg-white border-0 pb-0">
      <div class="d-flex flex-wrap flex-md-nowrap align-items-center py-4">
        <h2 class="h4 m-0 me-auto">Eventos e Incidentes</h2>
        <%= link_to "Programar Evento", new_event_path(kind: Event.kind.event), class: 'btn btn-outline-primary mt-2 mx-2 animate-up-2' %>
        <%= link_to "Crear Incidente", new_event_path, class: 'btn btn-gray-800 mt-2 animate-up-2' %>
      </div>
    </div>
    <%= render 'search_form', q: @q %>
    <div class="card-body pt-0 pb-4">
      <div class="table-responsive">
        <table class="table table-centered table-nowrap mb-0 rounded">
          <thead class="thead-light">
          <tr>
            <th class="border-0 rounded-start"><%= sort_link(@q, :name, 'Nombre') %></th>
            <th class="border-0 d-none d-md-table-cell"><%= sort_link(@q, :commander, 'Comandante') %></th>
            <th class="border-0 d-none d-md-table-cell"><%= sort_link(@q, :location, 'Lugar') %></th>
            <th class="border-0 d-none d-md-table-cell"><%= sort_link(@q, :event_start, 'Inicio', default_order: :desc) %></th>
            <th class="border-0 d-none d-md-table-cell"><%= sort_link(@q, :event_end, 'Fin') %></th>
            <th class="border-0 rounded-end"></th>
          </tr>
          </thead>
          <tbody>
          <%= render @events %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>