<section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
  <div class="container">
    <div class="row justify-content-center form-bg-image " data-background-lg="<%= asset_path("signin.svg")%>">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500 ">
          <div class="text-center text-md-center mb-4 mt-md-0">
            <h1 class="mb-0 h3">Iniciar sesion</h1>
          </div>
          <!-- Form email-->
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group mb-4">
              <label for="email"><%= f.label :email %></label>
              <div class="input-group">
                  <span class="input-group-text" id="basic-addon1">
                    <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
                  </span>
                <!--<input type="email" class="form-control" placeholder="example@company.com" id="email" autofocus required>-->
                <%= f.email_field :email, id: "email", autofocus: true, required: true, class: "form-control", placeholder: "example@company.com" %>
              </div>
            </div>
            <!-- End of Form -->
            <div class="form-group mb-4">
              <label for="password"><%= f.label :password %></label>
              <div class="input-group">
                  <span class="input-group-text" id="basic-addon2">
                    <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path></svg>
                  </span>
                <%= f.password_field :password, id: "Password", class: "form-control",placeholder: "Password", required: true, autocomplete: "current-password" %>
              </div>
            </div>
            <!-- End of Form -->
            <div class="d-flex justify-content-between align-items-top mb-4">
              <% if devise_mapping.rememberable? %>
                <div class="form-check">
                  <%= f.check_box :remember_me , class: "form-check-input", id:"remember"%>
                  <%= f.label :remember_me ,class: "form-check-label mb-0"%>
                </div>
              <% end %>
              <div>
              <%= link_to "Forgot your password?", new_password_path(resource_name), class:"small text-right"%>
              </div>
            </div>
            <div class="d-grid">
              <%= f.submit "Log in" ,class: "btn btn-gray-800"%>
            </div>
          <% end %>
          <div class="d-flex justify-content-center align-items-center mt-4">
              <span class="fw-normal">
                Not registered?
                <%= link_to "Sign up", new_registration_path(resource_name) , class: "fw-bold"%>
              </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>