<%= simple_form_for @resource do |f| %>
  <div class="col-lg-6">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :kind, prompt: 'Selecciona un tipo' %>
    <%= f.input :active %>

    <div class="actions text-start">
      <%= f.button :submit, "Guardar", class: "btn btn-gray-800 mt-2 animate-up-2" %>
      <%= link_to 'Cancelar', resources_path, class: 'link-secondary ms-3'%>
    </div>
  </div>
<% end %>

