<%= search_form_for @q do |f| %>
  <div class="col-12 mb-4" xmlns="http://www.w3.org/1999/html">
    <div class="card border-0 components-section" >
      <div class="card-header bg-white border-0 pb-0" >
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center row g-0">
          <div class=" col-lg-4 form-floating me-1">
            <%= f.search_field :name_i_cont_any , class: 'form-control', placeholder: 'Nombre'%>
            <%= f.label :name, for:'name_i_cont_any' %>
          </div>
          <div class="col-lg-4 form-floating me-1">
            <%= f.search_field :kind_i_cont , class: 'form-control', placeholder: 'Tipo' %>
            <%= f.label :kind , for:'kind_i_cont'%>
          </div>
          <%= f.button nil, class: "btn btn-secondary col-lg-1 ms-auto" do %>
            <i class="fas fa-search"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>