  <%= search_form_for @q do |f| %>
    <div class="col-12 mb-4" xmlns="http://www.w3.org/1999/html">
      <div class="card border-0 components-section" >
        <div class="card-header bg-white border-0 pb-0" >
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center  row ">
              <div class=" col-sm-5 form-floating">
                <%= f.search_field :name_i_cont_any , class: 'form-control ' , id: "floatingInputValue", placeholder: 'name'%>
                <%= f.label :name, for:'floatingInput' %>
              </div>
              <div class="col-sm-5 form-floating">
                <%= f.search_field :kind_cont , class: 'form-control ' , id: "floatingInputValue", placeholder: 'kind' %>
                <%= f.label :kind , for:'floatingInput'%>
              </div>

              <div class="col-sm-2">
                <div class="col-sm-6">
                  <%= f.button nil, class: "form-control btn btn-secondary" do %>
                    <i class="fas fa-search"></i>
                  <% end %>
                </div>

              </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>