<% resources.each do |resource| %>
  <tr>
    <td class="text-start col-4">
      <div class="d-flex align-items-center">
        <div class="dot rounded-circle me-1 <%= resource.active?? 'bg-success':'bg-secondary' %>"></div>
        <%= resource.name %>
      </div>
    </td>
    <td class="text-start d-none d-md-table-cell"><%= resource.kind_text %></td>
    <td class="text-start d-none d-md-table-cell text-truncate" style="max-width: 100px"><%= resource.description %></td>
    <td class="text-start" style="max-width: 100px"><%= resource.total %></td>
    <td class="text-end">
      <%= link_to edit_resource_path(resource), class: 'text-info me-1 my-0 fs-5', title: 'Editar' do %>
        <span class= "fa fa-pen-to-square"></span>
      <% end if can? :edit, resource %>
    </td>
  </tr>
<% end %>