<%= simple_form_for [@organization, @resource_per_organization] do |f| %>
  <div class="col-lg-6">
    <%= f.association :resource,
                      collection: Resource.active_resources,
                      prompt: 'Selecciona un recurso',
                      input_html: {
                        data: { controller: 'ts--select' }
                      } %>
    <%= f.input :quantity %>
    <div class="actions text-start">
      <%= f.button :submit, "Guardar", class: "btn btn-gray-800 mt-2 animate-up-2" %>
      <%= link_to 'Cancelar', organization_resource_per_organizations_path(@organization), class: 'link-secondary ms-3'%>
    </div>
  </div>
<% end %>
