<%= search_form_for(@q, url: organization_resource_per_organizations_path(@organization), method: :get) do |f| %>
  <div class="col-12 mb-4" xmlns="http://www.w3.org/1999/html">
    <div class="card border-0 components-section" >
      <div class="card-header bg-white border-0 pb-0" >
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center row g-0">
          <div class=" col-lg-4 form-floating me-1">
            <%= f.search_field :resource_name_i_cont_any , class: 'form-control', placeholder: 'Nombre'%>
            <%= f.label :name, 'Recurso', for:'resource_name_i_cont_any' %>
          </div>
          <div class="col-lg-3 form-floating me-1">
            <%= f.select :resource_kind_eq, Resource.kind.options.unshift(['Todos', nil]), {}, { class: 'form-select' } %>
            <%= f.label :kind, 'Tipo de Recurso', for: 'resource_kind_eq' %>
          </div>
          <%= f.button nil, class: "btn btn-secondary col-lg-1 ms-auto" do %>
            <i class="fas fa-search"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>