<%= simple_form_for @organization do |f| %>
  <div class="col-lg-6">
      <%= f.input :name %>
      <%= f.input :description %>
    <div class="actions text-start">
      <%= f.button :submit, "Guardar", class: "btn btn-gray-800 mt-2 animate-up-2" %>
      <%= link_to 'Cancelar', organizations_path, class: 'link-secondary ms-3'%>
    </div>
  </div>
<% end %>