<div class="col-12 mb-4">
  <div class="card border-0 shadow components-section">
    <div class="card-header bg-white border-0 pb-0">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center ">

        <div class="d-block mb-4 mb-md-0">
          <h2 class="h4 m-0">Organizaciones</h2>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
          <%= link_to "Crear Organización", new_organization_path, class: 'btn btn-gray-800 mt-2 animate-up-2' if can? :create_main_organization, Organization do %>
            <i class="fas fa-search"></i>
          <% end %>

        </div>
      </div>
    </div>
    <div class="card-header bg-white border-0 pb-0 pt-0">
      <p class="mb-0 ">Se listan todas las organizaciones pertenecinetes al Consejo Municipal de la Ciudad de
        Encarnacion.</p>
    </div>
    <%= render 'organizations/search_form', q: @q %>
    <div class="card-body pt-0 pb-4">
      <div class="table-responsive">
        <table class="table table-centered table-nowrap mb-0 rounded">
          <thead class="thead-light">
          <tr>
            <th class="border-0 rounded-start"></th>
            <th class="border-0"><%= sort_link(@q, :name, 'Nombre', default_order: :desc) %></th>
            <th class="border-0 d-none d-md-table-cell"><%= sort_link(@q, :description, 'Descripción', default_order: :desc) %></th>
            <th class="border-0 rounded-end"></th>
          </tr>
          </thead>
          <tbody>
          <%= render 'table', organizations: @organizations %>
          </tbody>
        </table>
      </div>
    </div>
    <%= paginate @organizations, theme: 'bootstrap-5',
                 pagination_class: "pagination-sm flex-wrap justify-content-center" %>
  </div>
</div>
