<div class="col-12 mb-4">
  <div class="card border-0 shadow components-section">
    <div class="card-header bg-white border-0 pb-0">
      <h2 class="h4"><%= @organization.name %></h2>
    </div>
    <div class="card-body pb-4">
      <div class="row mb-3">
        <div class="col-lg-6">
          <b>Nombre: </b> <%= @organization.name %>
        </div>
        <div class="col-lg-6">
          <b>Tel&eacute;fono: </b> <%= @organization.phone %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-lg-6">
          <b>Descripci&oacute;n: </b> <%= @organization.description %>
        </div>
        <div class="col-lg-6">
          <b>Direcci&oacute;n: </b> <%= @organization.address %>
        </div>
      </div>

      <div class="row justify-content-center">
        <div data-controller="map">
          <div data-map-target="marker" data-lat="<%= @organization.latitude %>" data-lng="<%= @organization.longitude %>" data-title="<%= @organization.name %>" data-icon="<%= @organization.custom_icon || 'icon1.svg' %>"></div>
          <div data-map-target="map" style="height: 500px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>

