<%= turbo_frame_tag event_action do %>
  <div class="d-flex align-items-center border-bottom border-2 border-black py-1">
    <div class="col-lg-2 me-2"><%= event_action.date.strftime('%d-%m-%Y %H:%M') %></div>
    <div class="col"><%= event_action.description %></div>
    <div class="ms-auto d-flex">
      <%= button_to [@event, event_action],
                    method: :delete,
                    form: { data: { turbo_confirm: "Estas seguro de eliminar esta acción?" } },
                    class: "btn btn-outline-danger me-1",
                    title: "Eliminar" do %>
        <i class="fa fa-trash"></i>
      <% end unless @event.closed %>
      <%= link_to [:edit, @event, event_action],
                  class: "btn btn-outline-info", title: "Editar" do %>
        <i class="fa fa-edit"></i>
      <% end unless @event.closed %>
    </div>
  </div>
<% end %>