<%= turbo_frame_tag event_action do %>
  <div class="row">
    <div class="col-2"><%= event_action.date.strftime('%d-%m-%Y %H:%M') %></div>
    <div class="col"><%= event_action.description %></div>
    <div class="col-auto d-flex">
      <%= button_to "Eliminar",
                    [@event, event_action],
                    method: :delete,
                    form: { data: { turbo_confirm: "Estas seguro de eliminar esta acción?" } },
                    class: "btn btn--light" %>
      <%= link_to "Editar",
                  [:edit, @event, event_action],
                  class: "btn btn--light" %>
    </div>
  </div>
<% end %>