<%= form_with( model: [@event, @event_action]) do |form| %>
  <% if @event_action.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @event_action.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">

    <div class="form-floating mb-3 col-12 col-lg-3">
      <%= form.text_field :date, class:'form-control', placeholder:'Fecha y hora', data: {
        controller: "flatpickr",
        enable_time: "true",
        flatpickr_date_format: "d-m-Y H:i",
        flatpickr_default_date: (form.object&.date || Time.zone.now).strftime("%d-%m-%Y %H:%M"),
      } %>
      <label for="event_start">Fecha y hora</label>
    </div>
    <div class="form-floating mb-3 col-12 col-lg-9">
      <%= form.text_field :description, class:'form-control', required:'true', placeholder:'Descripción' %>
      <label for="name">Descripci&oacute;n</label>
    </div>
  </div>

  <div class="actions text-end">
    <%= form.submit "Guardar", class: "btn btn-gray-800 mt-2 animate-up-2" %>
    <%= link_to 'Cancelar', event_path(@event), class: 'link-secondary ms-3'%>
  </div>
<% end %>