<!DOCTYPE html>
<html>
  <head>
    <title>Tesis</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'volt', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'volt_channel', 'data-turbo-track': 'reload' %>
    <%= javascript_packs_with_chunks_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body>
  <%= console if Rails.env.development? %>
  <%= render 'layouts/toast', locals: {alert: alert, notice: notice } %>
  <%= render 'layouts/navbar' if user_signed_in? %>
  <main class="content <%= 'm-0 p-0' unless user_signed_in? %>">
    <%= render 'layouts/header' if user_signed_in? %>
    <%= render 'shared/breadcrumbs' if user_signed_in? %>
    <%= yield %>
    <%= turbo_frame_tag 'remote_modal', target: "_top" %>
  </main>
  </body>
</html>


